body{
    background-color: #eee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    
}
section{
    background: #fff159 ;
    margin: 0;
    padding: 0.1rem 0;
    font-size: 3vh;
    color: #2f3476;
    height: 40vh;
    display: flex;
    justify-content: center;
}
section img{
    width: 15vh;
    height: 10vh;
    margin-top: 8vh;
    right: 1vh;
}
section h1{
    text-align: left;
    width: 80%;
    font-size: 9vh;
    margin-top: 8vh;
    margin-left: 1vh;
    font-family: 'Harabara',Verdana;
}

.container{
    position: relative;
    margin: auto;
    margin-top: -15vh;
    background: #fff;
    width: 400px;
    height: 300px;
    display:flexbox;
    box-shadow: 0 0 0.2vh  #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
.container-validacion{
    position: relative;
    margin: auto;
    margin-top: -15vh;
    background: #fff;
    width: 400px;
    height: 350px;
    display:flexbox;
    box-shadow: 0 0 0.2vh  #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

form{
    width: 80%;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.container-validacion form div{

    width: 95%;
    height: 55px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px ;
    box-shadow: 0 0 2px #000;
    border-radius: 5px;
    color: #bbb;
    margin-bottom: 10px;

}

.container-validacion form div p{
    color: #bbb;

}
.container-validacion form div a {

    color: #bbb;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0 0 3px #aaa;
    border-radius: 50% ;

}

form p{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    color: #000;

}

form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(95, 92, 92);
}

input{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
}

input.user_inicio{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border:none;
    outline: none;
    box-shadow: 0 0 3px #000;
}
input.user_inicio:focus{
    box-shadow: 0 0 3px #3483fa, 0 0 3px #3483fa, 0 0 3px #3483fa, 0 0 3px #3483fa, 0 0 3px #3483fa, 0 0 3px #3483fa, 0 0 3px #3483fa, 0 0 10px #3483fa, 0 0 3px #3483fa, 0 0 3px #3483fa;
}
.btn{
    font-family: Verdana, Tahoma, sans-serif;
    width: 100%;
    font-size: 20px;
    padding:10px 5px;
    background: #3483fa;
    color: #fff;
    font-weight: bolder;
    border:none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    transition: 0.5s;
}

.btn:hover{
    background: #256ad3;
    color: #fff;
    transition: 0.5s;
}



@media screen and (max-width: 1000px) {
    
section h1{
    font-size: 4vh;
}
   
.container{
    width: 300px;
    height: 225px;
} 


.container-validacion{
    width: 300px;
    height: 300px;
}
}